button {
  border: 1px solid #959595;
  width: 200px;
  height: 30px;
  background: pink;
  border-radius: 5px;
  box-shadow: 5px 3px 7px #00000047;
  font-family: cursive;
  cursor: pointer;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  border-radius: 50px;
}
