body {
  font-family: cursive;
  background: radial-gradient(#fff3fe, #dbdcf2);
}
input {
  border-radius: 6px;
  height: 40px;
  width: 250px;
  font-size: 16px;
}
select {
  border-radius: 6px;
  height: 40px;
  width: 250px;
  cursor: pointer;
  font-size: 14px;
  font-family: cursive;
}
label {
  font-size: 14px;
}
.welcomeHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 118px;
}
.welcomeSubtitle {
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  border-radius: 50px;
  margin: 0 30px 13px;
}
.next-auth-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 130px;
}
.userAreaWrapper {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  justify-content: center;
}
.wrapperForm {
  display: flex;
  flex-direction: column;
}
.headerList {
  display: flex;
  justify-content: center;
}
.wrapperList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapperKidsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerTitle {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
}
.imgTeacher {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.signOutIcon {
  cursor: pointer;
  padding: 8px;
}
.formsButtons {
  display: flex;
  justify-content: space-between;
  padding: 12px 6px 0 1px;
}
